.auth {
    &__content {
        margin-top: 10px;
        padding: 10px;
        min-height: 300px;
        border: 2px solid $color-primary;
        border-radius: 10%;
    }

    &__wrap {
        min-width: 300px;
        padding: 10px;
        border-radius: 10%;
        @include theme-provider('background', 'color-shape');
    }

    &__btns {
        text-align: center;
    }
}