.header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 12px 24px 0px $color-dark-s;
    @include theme-provider('background', 'color-header');
    @extend %transition;

    &_sticky {
        box-shadow: 0px 6px 12px 0px $color-light-m;
        padding: 10px 0;
        @include theme-provider('background', 'color-header-sticky');

        .logo:after {
            width: 40px;
            height: 40px;

            @include media-mobile {
                width: 35px;
                height: 35px;
            }
        }

    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btns {
        min-width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__controls {
        position: absolute;
        padding: 10px;
        top: 100%;
        right: 0;
        min-width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 6px 12px 0px $color-light-m;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        @extend %transition;
        @include theme-provider('background', 'color-header-sticky');

        &_show {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }

        &>* {
            padding: 10px 0;
        }
    }
}

.logo {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    @extend %text-title-large;
    @extend %transition;
    @include theme-provider('color', 'color-text');

    &:after {
        content: '';
        display: block;
        background: no-repeat center/contain url('./assets/icons/Atom.svg');
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        @extend %transition;

        @include media-mobile {
            width: 50px;
            height: 50px;
        }
    }

    @include media-mobile {
        font-size: 20px;
    }
}
